---
import Header from '../../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://analytics.us.umami.is/script.js" data-website-id="326ffd8a-2da0-4179-badb-f872644369b3"></script>
		<title>Simple Business Website Project | PixelBrew - Virtual Tech Assistance</title>
	</head>
	<body class="font-sans bg-gray-50 overflow-x-hidden">
		<Header />
        <div class="bg-base-100 flex items-center justify-center">
        <section class="container mx-auto px-8 lg:px-0 py-16">
            <h1 class="text-5xl lg:text-6xl w-full lg:w-1/3 text-primary font-neuebit leading-[2rem]">Simple Business Website Setup</h1>
            <p class="w-full lg:w-1/2">A 5-page website built with the platform/builder of your choice. Includes contact form & integrations.</p>
        </section>
        </div>
        <div class="bg-neutral flex items-center justify-center">
        <section class="container mx-auto py-8 text-neutral-content px-8 lg:px-0">
            <h1 class="text-4xl w-1/3 text-primary font-neuebit leading-[2rem]">What's Included</h1>
            <ul class="list-inside list-image-[url(/check.svg)] leading-8">
              <li>Initial Consultation (1 hour)</li>
                <li>Content Collection</li>
                <li>Web hosting & domain assistance</li>
                <li>Design Draft</li>
                <li>Design Review Meeting (1 hour)</li>
                <li>Forms & Integrations Setup</li>
                <li>Testing & Optimization</li>
                <li>Launch & Training Meeting (30 minutes)</li>
              
            </ul>
        </section>
        </div>
        <div class="bg-accent flex items-center justify-center">
            <section class="container mx-auto py-8 px-8 lg:px-0 text-neutral-content">
                <h1 class="text-4xl w-1/3 text-primary font-neuebit leading-[2rem]">Other projects</h1>
                <p>More projects to get you up and running fast.</p>
                <div class="grid grid-row md:grid-cols-3 gap-4 mt-6">
                      <div class="card w-full bg-neutral border border-base-100 border-solid rounded-none">
                        <div class="card-body">
                          <h2 class="card-title">Shopify store setup</h2>
                          <p>Shopify store setup based on the theme of your choice. Includes up to 2 Shopify Apps installation and setup + 5 product listings.</p>
                          <div class="card-actions justify-between flex items-center pt-4">
                            <span class="font-bold">$699</span>
                            <a href="/services/shopify-setup">
                            <button class="btn btn-primary">Buy Now</button>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card w-full bg-neutral border border-base-100 border-solid rounded-none">
                        <div class="card-body">
                          <h2 class="card-title">Online course website</h2>
                          <p>Course website built with the platform/builder of your choice. Includes landing/homepage design and development + 1 course setup.</p>
                          <div class="card-actions justify-between flex items-center pt-4">
                            <span class="font-bold">$699</span>
                            <a href="/services/course-website">
                            <button class="btn btn-primary">Buy Now</button>
                          </a>
                          </div>
                        </div>
                      </div>
                      <div class="card w-full bg-neutral border border-base-100 border-solid rounded-none">
                        <div class="card-body">
                          <h2 class="card-title">Wordpress website hosting & maintenance</h2>
                          <p>Includes WP hosting, security, backups + 1 hour of monthly content changes.</p>
                          <div class="card-actions justify-between flex items-center pt-4">
                            <span class="font-bold">$49/mo</span>
                            <a href="/services/wordpress-hosting">
                            <button class="btn btn-primary">Buy Now</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
            </section>
            </div>
            <script src="//code.tidio.co/tdv8h5nvfvmunnpiatdnog3kzoprjp4w.js" async></script>
        </body>
        </html>