---
import Header from '../components/Header.astro';
import jamieHeadshot from '../assets/jamie-headshot.jpg'
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me | PixelBrew - Virtual Tech Assistance</title>
</head>
<body class="font-sans bg-gray-50 overflow-x-hidden">
    <Header />
    <div class="bg-base-100 flex items-center justify-center">
        <section class="container mx-auto px-8 lg:px-0 py-16">
            <h1 class="text-5xl lg:text-6xl w-full lg:w-1/3 text-primary font-neuebit leading-[2rem]">About</h1>
            <div class="lg:hidden pt-2">
                <a class="flex items-center gap-1 hover:text-primary" href="#professional"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F7EFEA" viewBox="0 0 256 256"><path d="M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,16,.45A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z"></path></svg>
                    Professional History</a> 
                <a class="flex items-center gap-1 hover:text-primary" href="#aboutpb"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F7EFEA" viewBox="0 0 256 256"><path d="M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,16,.45A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z"></path></svg>
                    About Pixel Brew</a> 
                <a class="flex items-center gap-1 hover:text-primary" href="#aboutme"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F7EFEA" viewBox="0 0 256 256"><path d="M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,16,.45A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z"></path></svg>
                    About Me</a></div>
        </section>
        </div>
    <section class="bg-neutral" id="professional">
        <div class="container mx-auto lg:py-16">
            <div class="w-full flex flex-row gap-8 flex-wrap lg:flex-nowrap p-8 lg:p-0">
            <div class="w-full lg:basis-80 grow-0 shrink-0 text-base-100 bg-white p-8 border border-1 border-base-100">
                <div class="flex gap-4 items-center">
                
                <div class="avatar w-24">
                    <img class="rounded-full" src={jamieHeadshot.src}>
                </div>
                <div>
                    <p class="text-2xl text-primary font-neuebit leading-[2rem]">Jamie Spann</p>
                    <p class="text-xs font-bold">Solo Developer</p>
                    <p class="text-xs">Owner @ Pixel Brew</p>
                    <p class="text-xs">Alabama, USA</p>
                </div>
                </div>
                <h2 class="text-2xl font-bold text-primary font-neuebit leading-[2rem] pt-4">Education</h2>
                <ul class="list-disc pl-5">
                    <li><p class="text-sm font-bold">Bachelors of Science in Anthropology</p>
                        <p class="text-xs">Troy University c/o 2016</p>
                    </li>
                </ul>
                <h2 class="text-2xl font-bold text-primary font-neuebit leading-[2rem] pt-4">Experience</h2>
            <p>A brief overview of my professional journey.</p>
            <ul class="list-disc pl-5">
                <li><p class="text-sm font-bold">Owner</p>
                    <p class="text-xs">Pixel Brew</p>
                    <p class="text-xs">Jan 2024 - Present</p>
                </li>
                <li><p class="text-sm font-bold">Virtual Tech Assistant</p>
                    <p class="text-xs">Virtual Assistant Agency</p>
                    <p class="text-xs">Jul 2022 - Sep 2023 · 1 yr 3 mos</p>
                </li>
                <li><p class="text-sm font-bold">Self-Employed</p>
                    <p class="text-xs">Digital Swan - Digital Marketing Agency</p>
                    <p class="text-xs">Jul 2020 - Jun 2022 · 2 yrs</p>
                </li>
                <li><p class="text-sm font-bold">Creative Director & Lead Web Developer</p>
                    <p class="text-xs">Digital Marketing Agency</p>
                    <p class="text-xs">Jul 2017 - Jul 2020 · 3 yrs 1 mos</p>
                </li>
            </ul>
            <h2 class="text-2xl font-bold text-primary font-neuebit leading-[2rem] pt-4">Skills</h2>
            <ul class="list-disc pl-5 text-sm">
                <li><span class="font-bold">Languages:</span> HTML, CSS, Javascript, Typescript, PHP
                </li>
                <li><span class="font-bold">Frameworks:</span> React, Astro, Wordpress
                </li>
                <li><span class="font-bold">Builders:</span> Elementor, Divi, Breakdance, Oxygen, Bricks, Squarespace, Wix
                </li>
                <li><span class="font-bold">
                    LMS:</span> LearnDash, Kajabi
                </li>
                <li><span class="font-bold">eCommerce:</span> Shopify, Woocommerce
                </li>
                <li><span class="font-bold">Automation:</span> Zapier, Make.com, Keap
                </li>
                <li><span class="font-bold">Design:</span> Figma, Adobe Illustrator, Canva
                </li>
                <li><span class="font-bold">Databases:</span> MongoDB, MySQL, phpMyAdmin
                </li>
                <li><span class="font-bold">Email Platforms:</span> ActiveCampaign, Mailchimp, Flodesk, ConvertKit</li>
                <li><span class="font-bold">Other:</span> APIs, Google Analytics, Looker Studio, Stripe
                </li>
            </ul>
            <h2 class="text-2xl font-bold text-primary font-neuebit leading-[2rem] pt-4">Projects</h2>
            <ul class="list-disc pl-5">
                <li><p class="text-sm font-bold">The Counter</p>
                    <p class="text-xs">Client task management app for Pixel brew.</p>
                    <p class="text-xs"><span class="font-bold">Stack:</span> React, Express, MongoDB, Typescript, Tailwind, DaisyUI, Tanstack Router & Query, Websockets</p>
                </li>
                <li><p class="text-sm font-bold">Pixel Brew Website</p>
                    <p class="text-xs">Website for Pixel Brew</p>
                    <p class="text-xs"><span class="font-bold">Stack:</span> Astro, Tailwind, DaisyUI, Vite</p>
                </li>
                <li><p class="text-sm font-bold">StarNotes</p>
                    <p class="text-xs">A note taking app that stores the astrological data for the moment.</p>
                    <p class="text-xs"><span class="font-bold">Stack:</span> React, Express, MongoDB, Javascript, Tailwind, DaisyUI</p>
                </li>
            </ul>
            </div>
            <div class="text-base-100">
                <div class="bg-white p-8 border border-1 border-base-100" id="aboutpb">
                <h2 class="text-primary text-4xl font-neuebit">About Pixel Brew</h2>
                <p class="pb-2">Pixel Brew is a virtual tech assistant service designed to boost your efficiency. I handle a variety of tasks, from website maintenance to project management, so you can spend less time on tech headaches and more time achieving your goals.</p>
                <p>My goal is to offer digital services on a task-based system, billed by the hour in 15 minute incremets, utilizing a custom build task management platform, known as The Counter.</p>
                </div>
                <div class="bg-white border border-1 border-base-100 p-8 grow mt-8" id="aboutme">
                <h2 class="text-primary text-4xl font-neuebit">About Me</h2>
                <p class="pb-2">Hi! I'm Jamie, a web developer from south Alabama with 7 years of professional experience in the digital space. I've worn many hats – developer, designer, creative director, and entrepreneur –  and honed skills in programming, design, and project management along the way.</p>

                <p class="pb-2">I received my B.S. in Anthropology in 2016. I still just love anthropology - studying society, ancient cultures, and weaving together all of the different threads of evolution that led us to the humans we are today. I discovered anthropology after I read a book by Zora Neale Hurston called “Tell My Horse”, and enjoyed it so much and after reading more about her, decided to make it my major. These days, that intellectual curiosity fuels both my professional endeavors and personal pastimes.</p>

                <p class="pb-2">So how did an anthropology major end up as a web developer? I’ve been “on the internet” since I was like 11 - there was this really cool site called “Matmice” that I used to build websites on, back when you had to use iframes to load in different sections of your web page. I mostly used to build really embarrassing fan pages for my favorite pop bands, or cutesy websites for those “edolls” that used to be popular. Then of course, there was Myspace - if you know you know. </p>

                <p class="pb-2">After leaving high school, I casually studied programming here and there, and got my first job as a developer working on Wordpress websites in 2017. There I learned a lot about web and graphic design, working with a team, and ultimately rose to be the creative director of that digital marketing agency.</p>

                <p class="pb-2">In 2020 I started my own digital marketing agency, and while I learned a lot during that experience, I also came to realize that I don’t enjoy the marketing and strategy side as much as I do building things and solving problems. After a couple more tech jobs and freelance work, that brings us to today, to Pixel Brew - where I bring all of my previous experience, determination and out-of-the-box thinking to every task I do.</p>

                <p class="pb-2">On a personal note, I'd describe myself as something of an introvert and homebody at heart. When I'm not hanging out with my 11 year old son, Liam, or cozied up reading books on culture, astrology, or just the latest good fiction release, I love getting out and exploring new restaurants and frequent thrift and antique shops, iced coffee or honeydew boba (my favorite) in hand. I also love binging my favorite TV shows or playing Stardew Valley. Traveling is a passion of mine as well, and I have lots of upcoming plans to get out and see the world. My favorite destinations I’ve visited so far are Jamaica, Los Angeles, and New Orleans. My next dream destinations are New York City and Paris.</p>

                <p class="pb-2">So, that’s pretty much it about me. Pretty windy for someone who doesn’t like talking about herself. :) If you’d like to chat, you can email me at jamie@pixelbrew.co or hit the little chat icon in the bottom right corner of this website. I’d love to meet you!</p>
                </div>
            </div>
            </div>
        </div>
    </section>
    <script src="//code.tidio.co/tdv8h5nvfvmunnpiatdnog3kzoprjp4w.js" async></script>
</body>
</html>