---
import Header from '../components/Header.astro';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script defer src="https://analytics.us.umami.is/script.js" data-website-id="326ffd8a-2da0-4179-badb-f872644369b3"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me | PixelBrew - Virtual Tech Assistance</title>
</head>
<body class="font-sans bg-gray-50 overflow-x-hidden">
    <Header />
    <div class="bg-base-100 flex items-center justify-center">
        <section class="container mx-auto px-8 lg:px-0 py-16">
            <h1 class="text-5xl lg:text-6xl w-full lg:w-1/3 text-primary font-neuebit leading-[2rem]">SMS Agreement Terms</h1>
        </section>
        </div>
    <section class="bg-neutral" id="professional">
        <div class="container mx-auto lg:py-16 text-base-100">
            By requesting a task that requires SMS notification implementation, you agree to receive notifications from the SMS provider. Standard text messaging rates may apply. Pixel Brew is not responsible for any charges acrued by your mobile network provider that may occur. 
        </div>
    </section>
    <script src="//code.tidio.co/tdv8h5nvfvmunnpiatdnog3kzoprjp4w.js" async></script>
</body>
</html>