---
import "../input.css";
import MobileMenu from "./MobileMenu.astro"; // Import the MobileMenu component
---

<header
class="bg-base-100 flex flex-row justify-center border border-b border-0 border-solid border-neutral px-8 py-2 md:py-0 lg:px-0"
>
<div class="container flex flex-row justify-between items-center">
    
    <div><a href="/">
        	<div class='font-neuebit text-5xl text-primary flex'>pixel <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38" height="38" zoomAndPan="magnify" viewBox="0 0 375 374.999991" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><g/><clipPath id="c79711cf5b"><path d="M 265.273438 73.691406 L 266.230469 73.691406 L 266.230469 74.339844 L 265.273438 74.339844 Z M 265.273438 73.691406 " clip-rule="nonzero"/></clipPath><clipPath id="22b8236dea"><path d="M 266.203125 73.914062 C 265.296875 74.316406 266.101562 73.714844 266.101562 73.714844 " clip-rule="nonzero"/></clipPath><clipPath id="034f16d811"><path d="M 117.097656 140.839844 L 230.84375 140.839844 L 230.84375 174.789062 L 117.097656 174.789062 Z M 117.097656 140.839844 " clip-rule="nonzero"/></clipPath><clipPath id="160c013717"><path d="M 124.253906 132.707031 L 223.691406 132.707031 L 223.691406 166.65625 L 124.253906 166.65625 Z M 124.253906 132.707031 " clip-rule="nonzero"/></clipPath></defs><g fill="#ff9066" fill-opacity="1"><g transform="translate(36.210962, 288.336921)"><g><path d="M 34.46875 51.703125 L 34.46875 34.46875 L 17.234375 34.46875 L 17.234375 -51.703125 L 0 -51.703125 L 0 -68.9375 L 17.234375 -68.9375 L 17.234375 -155.09375 L 34.46875 -155.09375 L 34.46875 -172.328125 L 68.9375 -172.328125 L 68.9375 -155.09375 L 51.703125 -155.09375 L 51.703125 -68.9375 L 34.46875 -68.9375 L 34.46875 -51.703125 L 51.703125 -51.703125 L 51.703125 34.46875 L 68.9375 34.46875 L 68.9375 51.703125 Z M 34.46875 51.703125 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(244.568441, 288.336921)"><g><path d="M 0 51.703125 L 0 34.46875 L 17.234375 34.46875 L 17.234375 -51.703125 L 34.46875 -51.703125 L 34.46875 -68.9375 L 17.234375 -68.9375 L 17.234375 -155.09375 L 0 -155.09375 L 0 -172.328125 L 34.46875 -172.328125 L 34.46875 -155.09375 L 51.703125 -155.09375 L 51.703125 -68.9375 L 68.9375 -68.9375 L 68.9375 -51.703125 L 51.703125 -51.703125 L 51.703125 34.46875 L 34.46875 34.46875 L 34.46875 51.703125 Z M 0 51.703125 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(122.668254, 288.336921)"><g><path d="M 0 51.703125 L 0 34.46875 L 103.40625 34.46875 L 103.40625 51.703125 Z M 0 51.703125 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(345.514942, 200.100881)"><g><path d="M -10.921875 0 L -10.921875 10.921875 L 0 10.921875 L 0 65.546875 L -10.921875 65.546875 L -10.921875 76.46875 L -54.625 76.46875 L -54.625 65.546875 L -21.84375 65.546875 L -21.84375 10.921875 L -54.625 10.921875 L -54.625 0 Z M -10.921875 0 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(139.607514, 148.960146)"><g><path d="M -30.96875 0 L -20.640625 0 L -20.640625 10.328125 L 0 10.328125 L 0 20.640625 L 72.25 20.640625 L 72.25 10.328125 L 92.90625 10.328125 L 92.90625 0 L 103.21875 0 L 103.21875 20.640625 L 92.90625 20.640625 L 92.90625 30.96875 L 72.25 30.96875 L 72.25 41.296875 L 0 41.296875 L 0 30.96875 L -20.640625 30.96875 L -20.640625 20.640625 L -30.96875 20.640625 Z M -30.96875 0 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(71.549875, 20.41501)"><g><path d="M 36.53125 0 L 60.875 0 L 60.875 12.171875 L 73.046875 12.171875 L 73.046875 36.53125 L 60.875 36.53125 L 60.875 60.875 L 73.046875 60.875 L 73.046875 73.046875 L 48.703125 73.046875 L 48.703125 60.875 L 36.53125 60.875 L 36.53125 36.53125 L 48.703125 36.53125 L 48.703125 12.171875 L 36.53125 12.171875 Z M 36.53125 0 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(117.406689, 44.169348)"><g><path d="M 36.53125 0 L 60.875 0 L 60.875 12.171875 L 73.046875 12.171875 L 73.046875 36.53125 L 60.875 36.53125 L 60.875 60.875 L 73.046875 60.875 L 73.046875 73.046875 L 48.703125 73.046875 L 48.703125 60.875 L 36.53125 60.875 L 36.53125 36.53125 L 48.703125 36.53125 L 48.703125 12.171875 L 36.53125 12.171875 Z M 36.53125 0 "/></g></g></g><g fill="#ff9066" fill-opacity="1"><g transform="translate(265.805071, 105.875101)"><g><path d="M -35.84375 0 L -59.75 0 L -59.75 -11.953125 L -71.703125 -11.953125 L -71.703125 -35.84375 L -59.75 -35.84375 L -59.75 -59.75 L -71.703125 -59.75 L -71.703125 -71.703125 L -47.796875 -71.703125 L -47.796875 -59.75 L -35.84375 -59.75 L -35.84375 -35.84375 L -47.796875 -35.84375 L -47.796875 -11.953125 L -35.84375 -11.953125 Z M -35.84375 0 "/></g></g></g><g clip-path="url(#c79711cf5b)"><g clip-path="url(#22b8236dea)"><path fill="#ff9066" d="M 261.277344 69.695312 L 270.328125 69.695312 L 270.328125 78.4375 L 261.277344 78.4375 Z M 261.277344 69.695312 " fill-opacity="1" fill-rule="nonzero"/><path fill="#ff9066" d="M 261.277344 69.695312 L 270.328125 69.695312 L 270.328125 78.4375 L 261.277344 78.4375 Z M 261.277344 69.695312 " fill-opacity="1" fill-rule="nonzero"/></g></g><g clip-path="url(#034f16d811)"><path fill="#ff9066" d="M 117.097656 140.839844 L 230.875 140.839844 L 230.875 174.789062 L 117.097656 174.789062 Z M 117.097656 140.839844 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#160c013717)"><path fill="#ff9066" d="M 124.253906 132.707031 L 223.707031 132.707031 L 223.707031 166.65625 L 124.253906 166.65625 Z M 124.253906 132.707031 " fill-opacity="1" fill-rule="nonzero"/></g></svg> brew</div>
</a>
    </div>
    <div class="md:hidden"><MobileMenu /> </div>
    <div class="hidden md:flex flex-row items-center gap-4">
        <nav
            class="border border-0 border-r border-solid border-neutral p-6"
        >
            <ul class="flex flex-row gap-6">
                <li><a class="link link-base-100 link-hover" href="/about">About</a></li>
                <li><a class="link link-base-100 link-hover" href="/services">Services</a></li>
                <li class="link link-base-100 link-hover font-mondwest text-lg leading-[1.6rem]">
                    <a href="https://counter.pixelbrew.co">The Counter</a>
                </li>
            </ul>
        </nav>
        <button class="btn btn-secondary rounded-btn font-spacemono"
            >Get Started</button
        >
    </div>
</div>
</header>